@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/autoplay';
@import 'swiper/css/effect-coverflow';


/* .bricolage-grotesque-<uniquifier> {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

nav{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
/* Add this to your index.css or App.css */

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-in-left {
  animation: fadeInLeft 2s ease-out forwards;
}

.animate-fade-in-right {
  animation: fadeInRight 2s ease-out forwards;
}
